<%- include('menu.ejs') %>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                <div>
                    <table border="1">
                        <tr>
                            <th>picture</th>
                            
                            <th>Admin Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>DoB</th>
                            <th>Address</th>
                            
                            <th>Action</th>
                        </tr>
                        <% for(var i=0; i< userlist.length; i++ ){ %>
                        <tr>
                            <td><%= userlist[i].profilepicture %></td>
                                
                                <td><%= userlist[i].adminid %></td> 
                                <td><%= userlist[i].name %></td>
                                <td><%= userlist[i].email %></td>
                                <td><%= userlist[i].gender %></td>
                                <td><%= userlist[i].dob %></td>
                                <td><%= userlist[i].address %></td>
                                
                               
                                <td>
                                    <a href="/Adminhome/NotificationAd/<%=userlist[i].adminid%>">Notification</a> 
                                </td>
                             
                            <% } %>
                        </tr>
                    </table>
                </div>   
                             
            </div>            
            <footer class="row tm-row">
                <hr class="col-12">
                
                
            </footer>
        </main>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/templatemo-script.js"></script>
</body>
</html>