<%- include('menu.ejs') %>
<div class="container-fluid">
    <main class="tm-main">
<div class="row tm-row">
    <div class="col-12">
        <form method="post" class="form-inline tm-mb-80 tm-search-form">                
            <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>
            <input class="form-control tm-search-input"Style ="height:150px;width:2000px;margin-top:25px;margin-right:10px" name="post" type="text" placeholder="Post..." aria-label="Search">
            
            <button class="tm-search-button" type="submit">
                <i style="color:white;" Style ="margin-top:25px;margin-right:10px" class="fas fa" aria-hidden="true">Post</i>
            </button>
                                         
        </form>
    </div>                
</div>   
<div>
    
</div>  
<div class="tm-site-header ">          
    <h1  style ="color: skyblue;"class="text-center">Admin Post</h1>
</div>
<div class="row tm-row">
    <% for(var i=0; i< post.length; i++ ){ %>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
       <!-- <a href="post.html" class="effect-lily tm-post-link tm-pt-60">-->
            <div class="tm-post-link-inner">
                                           
            </div>
            <span class="position-absolute tm-new-badge">Admin</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title"><%= post[i].adminid%></h2>
        </a>                    
        <p class="tm-pt-30">
            <%= post[i].text%>
        </p>
        <span> <%= post[i].file%> </span>
        <div class="d-flex justify-content-between tm-pt-45">
           
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            
            <span>Posted by Admin :- <%= post[i].adminid%></span>
        </div>
    </article>
    <%}%>
    
</div>   
<div class="tm-site-header ">          
    <h1  style ="color: skyblue;"class="text-center">General User Post</h1>
</div>
<div class="row tm-row">
    <% for(var i=0; i< gpost.length; i++ ){ %>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
       <!-- <a href="post.html" class="effect-lily tm-post-link tm-pt-60">-->
            <div class="tm-post-link-inner">
                                           
            </div>
            <span class="position-absolute tm-new-badge">General User</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title"><%= gpost[i].guid%></h2>
        </a>                    
        <p class="tm-pt-30">
            <%= gpost[i].text%>
        </p>
        <span> <%= gpost[i].file%> </span>
        <div class="d-flex justify-content-between tm-pt-45">
           
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            
            <span>Comment</span>
        </div>
    </article>
    <%}%>
    
</div>  
<footer class="row tm-row">
    <hr class="col-12">
    
    
</footer>
</main>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/templatemo-script.js"></script>
</body>
</html>