<!DOCTYPE html>
<html>
<head>
	<title>Deactivate Profile</title>
	<link rel="stylesheet" href="/assets/accountControlManager/css/acStyle.css">
	<script type="text/javascript" src="/assets/accountControlManager/js/jquery-3.5.1.js"></script>
</head>
<body>
	<%- include('acNavBar') %>
	<div id="workspace">
		<form method="post">
		<fieldset>
			<h2><%=user[0].name %></h2>
			<br/>
			<form method='post'>
				<table id="view">
					<tr>
						<td>AC Id :</td>
						<td><%=user[0].acid %></td>
					</tr>
					<tr>
						<td>Name :</td>
						<td><%=user[0].name %></td>
					</tr>
					<tr>
						<td>Email :</td>
						<td><%=user[0].email %></td>
					</tr>
					<tr>
						<td>Gender :</td>
						<td><%=user[0].gender %></td>
					</tr>
					<tr>
						<td>Date Of Birth :</td>
						<td><%=user[0].dob %></td>
					</tr>
					<tr>
						<td>Address :</td>
						<td><%=user[0].address %></td>
					</tr>
					<tr>
						<td>accountstatus :</td>
						<td><%=user[0].accountstatus %></td>
					</tr>
				</table>
				<div>
					<h3>Are you sure?</h3>
					<input type="hidden" name="acid" value="<%=user[0].acid %>">
					<input type="submit" name="submit" value="Confirm">
					<a href="/acController/getmyinfo">
						<button type="button">
							Back
						</button>
					</a>
				</div>
			</form>
		</fieldset>
	</form>
	</div>
</body>
</html>