<!DOCTYPE html>
<html>
<head>
	<title>Delete Profile</title>
	<link rel="stylesheet" href="/assets/generalUser/css/guStyle.css">
	<script type="text/javascript" src="/assets/generalUser/js/jquery-3.5.1.js"></script>
</head>
<body>
	<%- include('guMenu') %>
	<div id="workspace">
		<form method="post">
		<fieldset>
			<legend>Delete Profile</legend>
			<table>
				<tr>
					<td>GU Id :</td>
					<td><%=value[0].guid %></td>
				</tr>
				<tr>
					<td>Name :</td>
					<td><%=value[0].name %></td>
				</tr>
				<tr>
					<td>Email :</td>
					<td><%=value[0].email %></td>
				</tr>
				<tr>
					<td>Gender :</td>
					<td><%=value[0].gender %></td>
				</tr>
				<tr>
					<td>Date Of Birth :</td>
					<td><%=value[0].dob %></td>
				</tr>
				<tr>
					<td>Address :</td>
					<td><%=value[0].address %></td>
				</tr>
				<tr>
					<td>userstatus :</td>
					<td><%=value[0].userstatus %></td>
				</tr>
				<tr>
					<td>accountstatus :</td>
					<td><%=value[0].accountstatus %></td>
				</tr>
			</table>
			<div>
				<h3>Are you sure to delete your account?</h3>
				<input type="submit" name="submit" value="Confirm">
				<a href="/userController/getmyprofile">
					<button type="button">
						Back
					</button>
				</a>
			</div>
		</fieldset>
	</form>
	</div>
</body>
</html>